html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 87.5%;
}
#wrap {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 1250px;
}

#doer {
  background-color: #eee;
  padding: 3px 0;
  box-shadow:  0 0 17px rgba(0, 0, 0, 0.3);
}
.vessel {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
#doer ol {
  padding:  0;
  margin:  0;
  list-style-type:  none;
}
#doer li {
  margin: 4px 0;
}
label {
  display: inline-block;
  text-align: right;
  width: 110px;
  padding: 0 5px 0 0; 
}
#doer input {
  width: 77px;
  height: 18px;
  border: 1px solid #aaa;
}
input#url {
  width: 450px;
}
input#doit {
  width: 368px;
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: 26px;
  left: 202px;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  font-size: 2em;
  text-align: center;
  color: #999;
  cursor: pointer;
  background-color: #f4f4f4;
}
#doit:hover {
  background-color: #f7f7f7;
  color: #333;
}

#womb {
  margin: 0;
  padding: 20px;
}

a {
  border: 0;
}
a:visited img {
  outline: 5px solid pink;
}
#womb li {
  float: left;
  padding: 0 1em 3em 0;
  list-style: none;
  height: 200px;
  width: 200px;
  position: relative;
}
#womb li a {
  display: inline-block;
}
#womb li img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  border: 0;
  font-size: 3em;
  color: #c8c8ff;
}
#womb li img.imgHover {
  outline: none;
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  -moz-box-shadow: 0 0 10px #808080;
  -webkit-box-shadow: 0 0 10px #808080;
  box-shadow: 0 0 10px #808080;
}
a:visited img: hover {
  display: block;
  max-width: 200px;
  max-height: 200px;
  border: 0;
}
